In [25]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats

In [2]:
data = pd.read_csv('cleaned_UNESCO_school_closures_database.csv')

In [3]:
data['date']=pd.to_datetime(data['date'])

## my hypothesis is that low income countries are on average more days fully closed than high income countries

the nully hypothesis Ho states that the mean is equal

we state as the alternative hypothesis that the mean values of low and high income countries are significantly different

with a two sample t-test I can find out if there is a signifcant difference between the two groups, the samples are indepedent since they belong to different country income groups

the significance level will be 0.05

#### get data

In [19]:
Closed=data.groupby(['region_3','country'])['status'].apply(lambda x: x[x.str.contains('Closed due to COVID-19')].count())                            
closed_df=pd.DataFrame(Closed).reset_index()
closed_df

                region_3              country  status
0            High income              Andorra     107
1            High income  Antigua and Barbuda     199
2            High income                Aruba      54
3            High income            Australia       0
4            High income              Austria     108
..                   ...                  ...     ...
195  Upper middle income                Tonga      18
196  Upper middle income               Turkey     196
197  Upper middle income         Turkmenistan       0
198  Upper middle income               Tuvalu      37
199  Upper middle income            Venezuela     424

[200 rows x 3 columns]

In [22]:
# for each high income country average closed days
High_income_closed=closed_df[closed_df['region_3']=='High income'].status
High_income_closed

0     107
1     199
2      54
3       0
4     108
     ...
63    206
64    103
65    109
66      0
67     67
Name: status, Length: 68, dtype: int64

In [23]:
# for each low income country average closed days
Low_income_closed=closed_df[closed_df['region_3']=='Low income'].status
Low_income_closed

68    243
69     66
70      0
71     91
72    161
73    218
74    168
75     96
76    149
77    141
78    151
79    125
80    128
81    105
82     41
83    129
84     87
85    218
86    115
87    221
88     75
89    134
90    231
91    111
92     77
93      0
94     74
95    451
96     98
Name: status, dtype: int64

## two-sided t-test

In [26]:
tstat, pval = stats.ttest_ind(a=Low_income_closed, b=High_income_closed, alternative="two-sided")

# Display results
print("t-stat: {:.2f}   pval: {:.4f}".format(tstat, pval))

t-stat: 1.41   pval: 0.1629

the p value is abover 0.05 there we can not reject thw null hypothesis, which means the low income and high income ocuntries average days of closing is not significantly different

#### get mean and confidence interval for each group to check results

##### high income

In [35]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(High_income_closed) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(High_income_closed)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(High_income_closed) # sem = standard error of the mean = std(mean[patients])/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [36]:
sample_mean

108.3529411764706

In [37]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88.30264684523122, 128.40323550770995) .

##### low income:

In [32]:
confidence_level = 0.95
degrees_freedom = len(Low_income_closed) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(Low_income_closed)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(Low_income_closed) # sem = standard error of the mean = std(mean[patients])/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [33]:
sample_mean

134.6206896551724

In [34]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (101.36015831455487, 167.88122099578996) .

### the means are different but the confidence intervals are overlapping to some extent